<div ng-class="(headerPicto != null && headerPicto.length != 0) || (headerTitle != null && headerTitle.length != 0) ? 'complete-block' : 'complete-block-no-header'">
	<div ng-if="headerImg != null && img.length != 0" class="wrapper-header-img">
		<img ng-src="{{headerImg}}" class="img-responsive" />
	</div>

	<div ng-if="headerPicto != null && headerPicto.length != 0" class="header {{headerBackgroundColor}} {{headerColor}}">
		<div class="{{headerPicto}}"></div>
	</div>

	<div ng-if="headerTitle != null && headerTitle.length != 0" class="header-text {{headerBackgroundColor}} {{headerColor}} text-left">
		{{headerTitle}}
	</div>

	<div class="wrapper-body {{bodyBackgroundColor}}">
		<div ng-if="bodyTitle != null && bodyTitle.length != 0" class="body-title">{{bodyTitle}}</div>

		<div class="body-text text-justify">{{bodyText}}</div>
	</div>
</div>
