
<div id="home">

	<div class="row">
		<div class="col-xs-12">
			<!-- content -->
			<h1>Component "<i>completeBlock</i>"</h1>

			<hr />

			<!-- image header, title, body text -->
			<div complete-block
				 header-img="img/image.jpg"
				 body-title="{{ 'BODY_TITLE' | translate }}"
				 body-text="{{ 'LOREM_1' | translate }}"></div>

			<!-- text header with background color and text color, title, body text -->
			<div complete-block
				 header-title="Titre"
				 header-color="color-white"
				 header-background-color="background-color-black"
				 body-title="{{ 'BODY_TITLE' | translate }}"
				 body-text="{{ 'LOREM_1' | translate }}"></div>

			<!-- picto header with background color and text color, title, body text -->
			<div complete-block
				 header-picto="fa fa-github font-size-x3"
				 header-background-color="background-color-black"
				 header-color="color-white"
				 body-title="{{ 'BODY_TITLE' | translate }}"
				 body-text="{{ 'LOREM_1' | translate }}"></div>

			<!-- no header, title, body text -->
			<div complete-block
				 body-title="{{ 'BODY_TITLE' | translate }}"
				 body-text="{{ 'LOREM_1' | translate }}"></div>

			<!-- no header, no title, body text -->
			<div complete-block
				 body-text="{{ 'LOREM_1' | translate }}"></div>
		</div>
	</div>

</div>
