<div id="page1">
	<div class="row">
		<div class="col-xs-12">
			<!-- content -->

			{{ 'PAGE_1' | translate }} => {{ 'OBSERVABLE' | translate }}

			<hr />

			<div class="row">
				<div class="col-xs-6">
					<div ng-controller="rxjs1Controller">
						List 1:
						<button ng-click="addUser()" class="btn btn-default">Add user</button>
						<div ng-repeat="user in users | rxjsFilter track by $index">
							<span ng-show="user.isVisible">
								<input type="checkbox" ng-model="user.isVisible" />{{ user.name }}
							</span>
						</div>
					</div>
				</div>

				<div class="col-xs-6">
					<div ng-controller="rxjs2Controller">
						List 2:
						<button ng-click="addUser()" class="btn btn-default">Add user</button>
						<div ng-repeat="user in users track by $index">
							<span ng-show="!user.isVisible">
								<input type="checkbox" ng-model="user.isVisible" />{{ user.name }}
							</span>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>