@import 'node_modules/bootstrap/dist/css/bootstrap.min';
@import 'node_modules/font-awesome/css/font-awesome.min';
@import 'node_modules/angular-loading-bar/build/loading-bar.min';
@import 'node_modules/angular-ui-router-anim-in-out/css/anim-in-out';
@import 'general/general';
@import 'items/items';
@import 'pages/pages';